<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">

        <mat-list>
            <mat-list-item>
                <a class="nav-link" [routerLink]="['productos']">TUS PRODUCTOS</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                TUS ORGANIZADOR
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                PAGOS
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                TRANSFERENCIAS
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                CERTIFICADOS
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                SEGURIDAD
            </mat-list-item>
        </mat-list>

    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">

        <div class="container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>