<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">

        <table>
            <tr>
                <td>
                    <a class="nav-link" [routerLink]="['productos']">TUS PRODUCTOS</a>
                </td>
            </tr>
            <tr>
                <td>TUS ORGANIZADOR</td>
            </tr>
            <tr>
                <td>PAGOS</td>
            </tr>
            <tr>
                <td>TRANSFERENCIAS</td>
            </tr>
            <tr>
                <td>CERTIFICADOS</td>
            </tr>
            <tr>
                <td>SEGURIDAD</td>
            </tr>
        </table>

    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">

        <div class="container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>